<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>D:\Builds\TimeLock</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/CryptAByte.CryptoLibrary.dll">
      <publishTime>07/01/2012 17:20:41</publishTime>
    </File>
    <File Include="bin/CryptAByte.Domain.dll">
      <publishTime>07/01/2012 17:20:41</publishTime>
    </File>
    <File Include="bin/CryptAByte.WebUI.dll">
      <publishTime>07/01/2012 18:12:48</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>05/16/2012 15:56:17</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>05/16/2012 15:56:17</publishTime>
    </File>
    <File Include="bin/Ionic.Zip.dll">
      <publishTime>05/30/2012 15:09:31</publishTime>
    </File>
    <File Include="bin/Ionic.Zip.xml">
      <publishTime>05/30/2012 15:09:31</publishTime>
    </File>
    <File Include="bin/MiniProfiler.dll">
      <publishTime>05/11/2012 16:41:23</publishTime>
    </File>
    <File Include="bin/MiniProfiler.xml">
      <publishTime>05/11/2012 16:41:23</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>05/11/2012 16:39:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.dll">
      <publishTime>05/11/2012 16:41:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.xml">
      <publishTime>05/11/2012 16:41:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>05/11/2012 16:41:07</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>05/11/2012 16:41:07</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>05/11/2012 16:39:07</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>05/11/2012 15:44:23</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>06/07/2012 17:10:24</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>05/11/2012 15:44:21</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>05/11/2012 16:41:07</publishTime>
    </File>
    <File Include="Content/images/logo.png">
      <publishTime>06/08/2012 13:20:12</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>07/01/2012 01:50:27</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>06/05/2012 15:07:05</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/05/2012 15:06:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>06/05/2012 15:06:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>06/05/2012 15:06:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>06/05/2012 15:07:05</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>05/31/2012 18:36:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>06/05/2012 15:07:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>06/05/2012 15:08:13</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/31/2012 18:36:04</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>05/31/2012 18:36:04</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>05/31/2012 18:36:04</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>05/31/2012 18:36:03</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>05/31/2012 18:36:04</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_flat_15_cd0a0a_40x100.png">
      <publishTime>06/03/2012 00:18:16</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_glass_100_e4f1fb_1x400.png">
      <publishTime>06/03/2012 00:18:14</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png">
      <publishTime>06/03/2012 00:18:14</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png">
      <publishTime>06/05/2012 15:05:59</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png">
      <publishTime>06/03/2012 00:18:14</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_highlight-hard_70_000000_1x100.png">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png">
      <publishTime>06/03/2012 00:18:14</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-bg_highlight-soft_25_ffef8f_1x100.png">
      <publishTime>06/05/2012 15:07:03</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-icons_2694e8_256x240.png">
      <publishTime>06/05/2012 15:08:14</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-icons_2e83ff_256x240.png">
      <publishTime>06/05/2012 15:06:41</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-icons_3d80b3_256x240.png">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-icons_72a7cf_256x240.png">
      <publishTime>06/03/2012 00:18:16</publishTime>
    </File>
    <File Include="Content/themes/cupertino/images/ui-icons_ffffff_256x240.png">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="Content/themes/cupertino/jquery-ui-1.8.20.custom.css">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>06/08/2012 12:33:19</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/07/2012 16:17:05</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/30/2012 17:10:16</publishTime>
    </File>
    <File Include="Scripts/APIUsageDemo.js">
      <publishTime>06/07/2012 17:14:10</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>05/11/2012 15:44:24</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>04/17/2012 09:00:28</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.19.js">
      <publishTime>05/11/2012 16:38:31</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.19.min.js">
      <publishTime>05/11/2012 16:38:31</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.20.custom.min.js">
      <publishTime>06/03/2012 00:18:18</publishTime>
    </File>
    <File Include="Scripts/jquery.form.js">
      <publishTime>05/31/2012 14:59:45</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>05/11/2012 15:44:24</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>05/11/2012 15:44:24</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>05/11/2012 15:44:24</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/KeyManager.js">
      <publishTime>07/01/2012 18:02:15</publishTime>
    </File>
    <File Include="Scripts/knockout-2.1.0.debug.js">
      <publishTime>05/11/2012 16:41:54</publishTime>
    </File>
    <File Include="Scripts/knockout-2.1.0.js">
      <publishTime>05/11/2012 16:41:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>05/24/2012 17:58:31</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>05/11/2012 15:44:28</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>06/07/2012 16:17:29</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>06/07/2012 16:17:29</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>06/07/2012 16:17:29</publishTime>
    </File>
    <File Include="Views/Home/About-Apps.cshtml">
      <publishTime>06/25/2012 13:12:52</publishTime>
    </File>
    <File Include="Views/Home/About-Home.cshtml">
      <publishTime>06/22/2012 19:21:07</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>06/08/2012 13:05:41</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>06/08/2012 10:35:05</publishTime>
    </File>
    <File Include="Views/Home/CreateKey.cshtml">
      <publishTime>07/01/2012 17:46:04</publishTime>
    </File>
    <File Include="Views/Home/GetMessages.cshtml">
      <publishTime>07/01/2012 17:07:53</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>06/08/2012 10:34:36</publishTime>
    </File>
    <File Include="Views/Home/MessagesDetail.cshtml">
      <publishTime>06/07/2012 16:17:29</publishTime>
    </File>
    <File Include="Views/Home/NewKeyDetails.cshtml">
      <publishTime>06/07/2012 18:56:37</publishTime>
    </File>
    <File Include="Views/Home/RequestKeys.cshtml">
      <publishTime>06/04/2012 11:52:00</publishTime>
    </File>
    <File Include="Views/Home/SendMessage.cshtml">
      <publishTime>07/01/2012 17:23:52</publishTime>
    </File>
    <File Include="Views/Home/ServiceInfo.cshtml">
      <publishTime>05/29/2012 19:39:58</publishTime>
    </File>
    <File Include="Views/Home/Subscribe.cshtml">
      <publishTime>06/24/2012 22:40:51</publishTime>
    </File>
    <File Include="Views/SelfDestruct/Index.cshtml">
      <publishTime>07/01/2012 17:58:53</publishTime>
    </File>
    <File Include="Views/SelfDestruct/Read.cshtml">
      <publishTime>07/01/2012 18:08:03</publishTime>
    </File>
    <File Include="Views/SelfDestruct/Send.cshtml">
      <publishTime>07/01/2012 17:55:48</publishTime>
    </File>
    <File Include="Views/Service/Index.cshtml">
      <publishTime>07/01/2012 17:41:57</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/DateTime.cshtml">
      <publishTime>05/29/2012 20:13:19</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>06/07/2012 18:45:28</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>07/01/2012 17:18:30</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>05/11/2012 15:43:56</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/01/2012 18:13:49</publishTime>
    </File>
  </ItemGroup>
</Project>