@model dynamic
@{
    Page.Title = "Memorable Password Generator";
}

<h2>Memorable Password Generator</h2>

<script src="../../Scripts/password-generator.js" type="text/javascript"></script>


<div class="grey-box" style="min-height: 400px;">
    <h3>Generates strong passwords that are easy to remember.
        <br />
        This service runs in your browser for maximum security.
    </h3>

    <span>
        <label for="length">Length</label>
        <input type="text" value="15" name="length" />
        <br />
    </span>

    <span class="ui-corner-all">
        <button class="ui-button-text ui-widget ui-button" onclick="$('#password').text(generatePassword($('[name=length]').val(),1));">
            Generate memorable password
        </button>
    </span>

    <h3 class="grey-box" style="margin-top: 20px;">Password:
        <em>
            <pre style="font-size: 20pt;" id="password"></pre>
        </em>
    </h3>




</div>


<div>

    <strong>See also: <a href="http://strongpasswordgenerator.com/">Strong Password Generator</a>
    </strong>
    <em><a href="https://github.com/bermi/password-generator">Algorithm Source</a>
    </em>

</div>
