@model dynamic
@{
    ViewBag.Title = "Desktop Apps";
   
}

<h2>Desktop Apps</h2>


<p>
    Windows/Mac desktop apps are still in progress. A test version (you can send messages but not files) is available for Windows <a
        href="https://cryptabyte.com/Content/CryptAByte.zip" title="Download">here</a>.
</p>

<p>
    You are welcome to decompile this build or request a source code snapshot - the full source code will
    be made available once the API is complete.
</p>

<p>
    Please subscribe or follow the <a href="https://www.facebook.com/CryptAByte">Facebook
        page</a> for the latest update.
</p>


<img src="https://cryptabyte.com/Content/WinClient.png" />