@model dynamic
@{
    ViewBag.Title = "Desktop Apps";
   
}

<h2>Desktop Apps</h2>


<p>
    Windows/Mac desktop apps are still in progress. A test version (you can send messages but not files) is available for Windows <a
        href="https://cryptabyte.com/Content/CryptAByte.zip" title="Download">here</a>.
</p>

<p>
    <a href="https://github.com/DavidVeksler/CryptAByte">You can build this project yourself from the GitHub repository.</a>
</p>

<p>
    Please subscribe or follow the <a href="https://www.facebook.com/CryptAByte">Facebook
        page</a> for the latest update.
</p>


<img src="https://cryptabyte.com/Content/WinClient.png" />