@using CryptAByte.WebUI.Models
@model CryptAByte.WebUI.Models.ContactFormModel 


@*@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions() { OnSuccess = "ShowMessageSent", OnFailure = "OnError" }))
{
    <div>

        <div>
            @Html.LabelFor(m=> m.Email)
            @Html.TextBoxFor(m=> m.Email)
            @Html.ValidationMessageFor(m=> m.Email)
        </div>
        <button class="ui-button">Subscribe for Updates</button>
    </div>
}*@


<!-- Begin MailChimp Signup Form -->
<link href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://objectivismonline.us1.list-manage1.com/subscribe/post?u=591d9a0a5db8d52943e45d702&amp;id=e5da2e5ce7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->